@media screen and (max-width:1200px){
    .nav_wrapper, .header_content, .section1_wrapper1,
    .section1_list, .section2_wrapper, .section3_wrapper1,
    .section3_textbox2, .section4_textbox2_wrapper,
    .section5_wrapper, .section6_textbox1_wrapper, .section6_wrapper2, .footer_wrapper{
        width: 97%;
    }
    .section4_wrapper1{
        width: 100%;
    }
    .section4_textbox1_title, .section4_textbox1_description{
        margin-left: 10px;
    }
}
@media screen and (max-width:980px){
    .nav_wrapper{
        height: 50px;
    }
    .pc_nav{
        font-size: 1.25em;
    }
    .main_menu li{
        position: relative;
        float: left;
        margin-right: 40px;
    }
    .header_content{
        margin-top: 245px;
        padding-bottom: 145px;
/*         background-color: gray; */
    }
    .intro{
        font-size: 10em;
    }
    .intro_text_wrapper{
        margin-top: 55px;
    }
    .intro_text{
        font-size: 1.125em;
        width: 70%;
    }
    .intro_button{
        margin-top: 80px;
        width: 240px;
        height: 55px;
        font-size: 1.375em;
    }
    .section2_list{
        gap: 10px;
    }
    .section2_list li{
        padding: 30px;
        line-height: 1.25em;
    }
    .section2_list_title{
        font-size: 0.875em;
        margin-bottom: 50px;
    }
    .section2_list_description{
        font-size: 0.875em;
        margin: 0 auto 40px;
    }
    .section2_list_name, .section2_lsit_position{
        font-size: 0.875em;
    }
    .section4_wrapper1{
        height: 550px;
    }
    .social{
        width: 300px;
    }
    .social_title{
        font-size: 1.125em;
        margin-bottom: 18px;
    }
    .social_description{
        line-height: 1.125em;
        margin-bottom: 18px
    }
    .footer_menu{
        font-size: 1em;
        margin-right: 85px;
    }
}
@media screen and (max-width:768px){
    .nav_bg{
        margin-top: 0;
    }
    .pc_nav{
        display: none;
    }
    .mobile_nav_icon{
        display: block;
    }
    .section2_list{
        gap: 5px;
    }
    .section2_list li{
        padding: 15px;
    }
    .section2_list_title{
        margin-bottom: 30px;
    }
    .section2_list_description{
        width: 160px;
    }
    .section3_textbox, .section6_textbox2{
        width: 100%;
    }
    .section3_textbox_title{
        font-size: 1.25em;
    }
    .section3_textbox_description{
        line-height: 1.5em;
        font-size: 0.95em;
        width: 90%;
        position: relative;
        float: left;
        left: 50%;
        transform: translateX(-50%);
    }
    .section3_icon_list_img{
        height: 85px;
    }
    .section3_wrapper2{
        padding: 100px 0 60px; 
    }
    .section3_textbox2_description{
        width: 80%;
        font-size: 1em;
        margin-bottom: 50px;
    }
    .section3_textbox2_name{
        font-size: 0.875em;    
    }
    .section4_textbox1_title{
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .section4_textbox1_description{
        width: 70%;
    }
    .social{
        width: 210px;
    }
    .social_title{
        font-size: 1em;
        margin-bottom: 18px;
    }
    .social_description{
        line-height: 1em;
        margin-bottom: 18px
    }
    .footer_menu{
        font-size: 1em;
        margin-right: 60px;
    }
}
@media screen and (max-width:640px){
    .nav_wrapper{
        height: 45px;
    }
    .header_content{
        margin-top: 180px;
        padding-bottom: 120px;
    }
    .intro{
        font-size: 8em;
    }
    .intro_text_wrapper{
        margin-top: 45px;
    }
    .intro_text{
        font-size: 1.125em;
        width: 85%;
    }
    .intro_button{
        margin-top: 70px;
        width: 220px;
        height: 50px;
        font-size: 1.25em;
    }
    .section2_list{
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }
    .section1_textbox{
        margin: 150px 0;
        text-align: center;
        width: 85%;
    }
    .section1_textbox_title{
        font-size: 1.25em;
        margin-bottom: 40px;
    }
    .section1_textbox_description{
        font-size: 0.875em;
        line-height: 1.75em;
    }
    .section1_list{
        margin: 120px 0;
    }
    .section1_list li{
        position: relative;
    }
    .section1_list_title{
        font-size: 1.1em;
        margin-bottom: 30px;
    }
    .section1_list_description{
        font-size: 0.95em;
        line-height: 1.25em;
    }
    .section2_wrapper{
        padding: 90px 0 120px;
    }
    .section2_textbox{
        width: 85%;
        margin-bottom: 80px;
    }
    .section2_textobx_title{
        font-size: 1.375em;
        margin-bottom: 45px;
    }
    .section2_textbox_description{
        font-size: 1em;
        line-height: 1.55em;
    }
    .section3_icon_list li{
        width: 150px;
        height: 330px;
    }
    .section3_icon_list_img{
        height: 70px;
    }
    .section3_icon_list_title{
        font-size: 1.125em;
    }
    .section3_textbox_list{
        margin-top: 80px;
    }
    .section4_wrapper1{
        height: 380px;
    }
    .section4_textbox1{
        margin-top: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .section4_textbox1_title{
        font-size: 1.5em;
        margin-bottom: 18px;
    }
    .section4_textbox1_description{
        width: 60%;
        line-height: 1.5em;
        font-size: 0.95em;
    }
    .section4_img_wrapper{
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    .section4_img_wrapper img{
        object-fit: cover;
        width: 100%;
        opacity: .35;
    }
    .section4_wrapper2{
        height: 600px;
    }
    .section5_textbox_wrapper{
        height: 450px;
        width: 65%;
    }
    .section5_textbox{
        width: 80%;
    }
    .section5_textbox_subtitle{
        font-size: 0.875em;
        margin-bottom: 20px;
        font-weight: 100;
    }
    .section5_textobx_title{
        font-size: 1.125em;
        margin-bottom: 50px;
        letter-spacing: 0.7px;
    }
    .section5_textbox_description{
        font-size: 0.875em;
        letter-spacing: 1px;
        line-height: 1.25em;
        font-weight: 100;
    }
    .section5_img_wrapper{
        width: 35%;
        height: 450px;
    }
    .section5_img_wrapper img{
        width: 100px;
    }
    .section6_textbox1{
        width: 32%;
    }
    .social{
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        text-align: center;
        margin-bottom: 80px;
    }
    .social_list{
        left: 50%;
        transform: translateX(-50%);
    }
    .footer_menu_wrapper{
        right: 50%;
        transform: translateX(50%);
    }
    .footer_menu:last-child{
        margin-right: 0;
    }
}