@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');

body{
    position: relative;
    float: left;
    width: 100%;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
.hidden{
    width: 1px;
    height: 1px;
    position: absolute;
    font-size: 0;
    line-height: 0;
}
header{
    position: relative;
    float: left;
    width: 100%;
    background: url(../img/main_img1.jpg) no-repeat 50% 10%;
    background-size: cover;
}
.nav_bg{
    position: relative;
    float: left;
    background-color: black;
    width: 100%;
    margin-top: 40px;
}
.nav_wrapper{
    width: 1200px;
    position: relative;
    float: left;
    left: 50%;
    height: 55px;
    transform: translateX(-50%);
/*     background-color: red; */
}
.logo{
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-45%);
}
.pc_nav{
    font-size: 1.5em;
}
.main_menu{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.main_menu li{
    position: relative;
    float: left;
    margin-right: 85px;
}
.main_menu li:last-child{
    margin-right: 0;
}
.main_menu li a{
    color: #00c0ff;
    text-decoration: none;
}
.mobile_nav_icon{
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
}
.mobile_nav_icon img{
    height: 100%;
}
.mobile_nav_wapper{
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: white;
    z-index: 1;
}
.mobile_nav_wapper:after{
    content: '';
    position: fixed;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
}
.mobile_nav{
    position: relative;
    float: left;
    list-style: none;
    left: 35px;
    top: 40px;
    font-size: 1;
/*     background-color: red; */
}
.mobile_nav li{
    position: relative;
    margin-bottom: 40px;
}
.mobile_nav li a{
    color: black;
    text-decoration: none;
}
.header_content{
    position: relative;
    float: left;
    margin-top: 295px;
    padding-bottom: 165px;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
/*     background-color: gray; */
    color: white;
}
.intro_wrapper{
    position: relative;
    float: left;
    width: 100%;
/*     background-color: red; */
}
.intro{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Catamaran', sans-serif;
    font-size: 11em;
    font-weight: bold;
    letter-spacing: -3px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: white;
/*     background-color: blue; */
}
.intro_text_wrapper{
    position: relative;
    float: left;
    margin-top: 65px;
    width: 100%;
/*     background-color: red; */
}
.intro_text{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25em;
    line-height: 1.25em;
    width: 65%;
    text-align: center;
    font-weight: 300;
/*     background-color: blue; */
}
.intro_button{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 260px;
    height: 55px;
    border: none;
    border-radius: 23px;
    color: #00c0ff;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
}
.content{
    position: relative;
    float: left;
    width: 100%;
    background-color: black;
}
.section1{
    position: relative;
    float: left;
    width: 100%;
    background-color: black;
}
.section1_wrapper1{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
/*     background-color: blue; */
}
.section1_textbox{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    margin: 170px 0 170px 0;
    text-align: center;
    width: 74%;
    color: #00c0ff;
/*     background-color: white; */
}
.section1_textbox_title{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 50px;
}
.section1_textbox_description{
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 1.5px;
    font-weight: 300;
}
.section1_wrapper2{
    position: relative;
    float: left;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1b1b1b;
}
.section1_list{
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: left;
    margin: 135px 0 135px 0;
}
.section1_list li{
    position: relative;
    width: 30%;
}
.section1_list_title{
    font-size: 1.125em;
    margin-bottom: 40px;
    font-weight: 500;
}
.section1_list_description{
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.section2{
    position: relative;
    float: left;
    width: 100%;
    background: url(../img/main_img2.jpg) no-repeat 50% 0;
    background-size: cover;
}
.section2_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 95px 0 135px;
}
.section2_textbox{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    color: #00c0ff;
    margin-bottom: 90px;
}
.section2_textobx_title{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 55px;
}
.section2_textbox_description{
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.75em;
    letter-spacing: 1px;
}
.section2_list{
    position: relative;
    float: left;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    text-align: center;
}
.section2_list li{
    padding: 60px;
    line-height: 1.25em;
    background-color: rgba(27, 27, 27, 0.75);
}
.section2_list_title{
    font-weight: 500;
    margin-bottom: 65px;
}
.section2_list_description{
    font-weight: 300;
    margin: 0 auto 65px;
    width: 180px;
    text-align: left;
    font-family: 'Noto Serif KR', serif;
}
.section2_list_name{
    font-weight: 500;
}
.section2_lsit_position{
    font-family: 'Noto Serif KR', serif;
}
.section3{
    position: relative;
    float: left;
    width: 100%;
    background-color: black;
}
.section3_wrapper1{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 100px 0 130px;
    text-align: center;
}
.section3_textbox{
    position: relative;
    float: left;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
    color: #00c0ff;
    margin-bottom: 80px;
}
.section3_textbox_title{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 40px;
}
.section3_textbox_description{
    line-height: 1.7em;
    letter-spacing: 0.7px;
}
.section3_textbox_list{
    position: relative;
    float: left;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 95px;
    color: #00c0ff;
}
.section3_textbox_list li a{
    text-decoration: none;
    color: #00c0ff;
}
.section3_icon_list{
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background-color: black;
}
.section3_icon_list li{
    width: 180px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section3_icon_list_img{
    height: 110px;
}
.section3_icon_list_img img{
    height: 100%;
}
.section3_icon_list_title{
    font-weight: 500;
    font-size: 1.25em;
}
.section3_icon_list_description{
    font-size: 0.875em;
    font-weight: 300;
    letter-spacing: 0.7px;
    line-height: 1.25em;
}
.section3_icon_list_name_wrapper{
    font-size: 0.875em;
    line-height: 1.2em;
}
.section3_icon_list_name{
    font-weight: 500;
}
.section3_icon_list_position{
    font-weight: 300;
}
.section3_wrapper2{
    position: relative;
    float: left;
    width: 100%;
    background-color: #1b1b1b;
    padding: 130px 0 60px; 
}
.section3_textbox2{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    color: #00c0ff;
    text-align: center;
    letter-spacing: 1px;
}
.section3_textbox2_description{
    position: relative;
    width: 67%;
    margin: 0 auto;
    font-size: 1.125em;
    line-height: 1.5em;
    margin-bottom: 55px;
}
.section3_textbox2_name{
    position: relative;    
}
.section4{
    position: relative;
    float: left;
    width: 100%;
    background-color: black;
}
.section4_wrapper1{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    height: 670px;
    overflow: hidden;
}
.section4_textbox1{
    position: relative;
    float: left;
    color: #00c0ff;
    width: 50%;
    margin-top: 195px;
}
.section4_textbox1_title{
    font-size: 1.75em;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}
.section4_textbox1_description{
    width: 60%;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 100;
}
.section4_img_wrapper{
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}
.section4_img_wrapper img{
    height: 100%;
}
.section4_wrapper2{
    position: relative;
    float: left;
    width: 100%;
    height: 690px;
    background: url(../img/main_img3.jpg) no-repeat 50% 0;
    background-size: cover;
}
.section4_textbox2_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.section4_textbox2{
    position: relative;
    float: right;
    width: 280px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: right;
}
.section4_textbox2_title{
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.section4_textbox2_description{
    font-weight: 300;
    letter-spacing: 0.7px;
    font-size: 0.875em;
    line-height: 1.25em;
}
.section4_textbox2_btn{
    margin-top: 50px;
    font-size: 1.25em;
    width: 165px;
    height: 45px;
    color: #00c0ff;
    border-radius: 22px;
    border: none;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
.section5{
    position: relative;
    float: left;
    width: 100%;
    background-color: black;
}
.section5_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}
.section5_textbox_wrapper{
    position: relative;
    float: left;
    width: 50%;
    height: 480px;
}
.section5_textbox{
    position: relative;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: #00c0ff;
    text-align: center;
}
.section5_textbox_subtitle{
    font-size: 0.875em;
    margin-bottom: 20px;
    font-weight: 100;
}
.section5_textobx_title{
    font-size: 1.125em;
    margin-bottom: 50px;
    letter-spacing: 0.7px;
}
.section5_textbox_description{
    font-size: 0.875em;
    letter-spacing: 1px;
    line-height: 1.25em;
    font-weight: 100;
}
.section5_img_wrapper{
    position: relative;
    float: left;
    width: 50%;
    height: 480px;
}
.section5_img_wrapper img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.section6{
    position: relative;
    float: left;
    width: 100%;
/*     background-color: blue; */
}
.section6_wrapper1{
    position: relative;
    float: left;
    width: 100%;
    background-color: #1b1b1b;
}
.section6_textbox1_wrapper{
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
/*     background-color: red; */
}
.section6_textbox1{
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
/*     background-color: green; */
    padding: 90px 0;
    text-align: center;
}
.section6_textbox1_title{
    margin-bottom: 8px;
}
.section6_textbox1_description{
    font-size: 0.875em;
    font-weight: 300;
}
.section6_wrapper2{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}
.section6_textbox2{
    position: relative;
    float: left;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
    color: #00c0ff;
    text-align: center;
    padding: 110px 0;
    letter-spacing: 1px;
    font-weight: 300;
}
.section6_textbox2_description{
    line-height: 1.75em;
    margin-bottom: 20px;
}
.section6_textbox2_name{
    font-size: 0.875em;
}
footer{
    position: relative;
    float: left;
    width: 100%;
    color: white;
    background-color: #1b1b1b;
}
footer:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 0;
    background-color: #00c0ff;
}
.footer_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 80px 0 90px 0;
/*     background-color: green; */
}
.social{
    position: relative;
    float: left;
    width: 320px;
/*     background-color: blue; */
}
.social_title{
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 20px;
}
.social_description{
    line-height: 1.5em;
    margin-bottom: 20px
}
.social_list{
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
/*     background-color: red; */
}
.social_list li{
    margin-right: 10px;
    cursor: pointer;
}
.social_list li:last-child{
    margin-right: 0;
}
.social_list li img{

}
.footer_menu_wrapper{
    position: relative;
    float: right;
    display: flex;
    flex-direction: row;
/*     background-color: hotpink; */
}
.footer_menu{
    font-size: 1.125em;
    margin-right: 115px;
}
.footer_menu_title{
    font-weight: 500;
    margin-bottom: 50px;
}
.footer_menu_list{
    font-weight: 400;
}
.footer_menu_list li{
    margin-bottom: 8px;
    cursor: pointer;
}
.footer_menu_list li:last-child{
    margin-bottom: 0;
}